<div class="test">
<div class="comment">
  <p class="message-posted-by"> Posted by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</p>
  <p class="comment-content"> <%= comment.content %> </p>

  <div class="links">
    <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
    <%= link_to 'Edit', edit_message_comment_path(comment.message, comment), class: "btn btn-dark" %>
    <%= link_to 'Delete', message_comment_path(comment.message, comment), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-dark" %>
    <% end %>
    <% end %>
  </div>
</div>
</div>
